
html {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  font: 100%/1.3;
  background-color: white;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

@-moz-viewport { width: device-width; scale: 1; }

@-ms-viewport { width: device-width; scale: 1; }

@-o-viewport { width: device-width; scale: 1; }

@-webkit-viewport { width: device-width; scale: 1; }

@viewport { width: device-width; scale: 1; }

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  text-align: center;
  padding: .3em;
  display: block;
  color: white;
}

a:hover {
  color: silver;
}

header {
  background-color: black;
  color: white;
  padding-bottom: .6em;
}

h1 {
  margin: 0;
  padding: .3em;
  text-align: center;
}

body {
  margin: 0;
}

.menu {
  background-color: silver;
}

h2 {
  margin: 0;
  padding: .5em;
  text-align: center;
}

.mainmenu {
  color: white;
}

img {
  width: 100%;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  bottom: 1.5em;
  border: 2px solid silver;
  background-color: silver;
  border-radius: 5px;
  padding: .2em;
  color: white;
}

p {
  margin: 0;
}

.btn {
  border: 3px solid whitesmoke;
  background-color: whitesmoke;
  border-radius: 5px;
  color: black;
  width: 50%;
  left: 50%;
  transform: translateX(50%);
  margin-top: .5em;
}

.btn:hover {
  color: white;
  background-color: grey;
  border-color: grey;
}

figure {
  margin: 0;
}

figcaption {
  color: white;
  text-align: center;
  padding-bottom: 1em;
}

.location {
  background-color: whitesmoke;
}

.address {
  text-align: center;
  padding-top: .2em;
  padding-bottom: .5em;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding-top: .5em;
  padding-bottom: .5em;
}

@media only screen and (min-width: 25em) {

  html {
    font-size: 100%;
    line-height: 1.3;
  }

}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  li {
    display: inline-block;
    width: 24%;
  }

  .celeb {
    float: left;
  }

  .celebcontent {
    float: left;
    bottom: 50%;
    transform: translateY(300%);
  }

  .location {
    clear: both;
    padding-bottom: 20em;
  }

  .menu {
    padding-bottom: 17em;
  }

  .map {
    float: left;
    width: 50%;
  }

  .mapcontent {
    float: left;
    width: 50%;
    bottom: 50%;
    transform: translateY(150%);
  }

  .address {
    text-align: left;
    padding-left: 6em;
  }

  footer {
    clear: both;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  .float {
    float: left;
    width: 50%;
    padding: .5em;
  }

  .btn {
    clear: both;
    width: 25%;
    left: 50%;
    transform: translateX(148%);
  }

  .menu {
    padding-bottom: 14em;
  }

  .celebcontent {
    padding-left: 2.5em;
    transform: translateY(230%);
  }

  .mapcontent {
    transform: translateY(80%);
  }

  .centermap {
    padding-left: 7em;
    padding-right: 7em;
  }

  .name {
    float: left;
    padding-left: 1em;
  }

  .email {
    float: right;
    padding-right: 1em;
  }

  footer {
    padding-bottom: 2em;
  }

}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
    line-height: 1.5;
  }

  .location {
    padding-bottom: 29em;
  }

  .celeb {
    padding-left: 17em;
  }

  .celebcontent {
    float: right;
    padding-right: 18em;
  }

}
